/Beans/CameraTrap/src/test/resources/test.properties
/Beans/Edan-Sidora/src/test/resources/test.properties
/Components/FcrepoRest/src/test/resources/fcrepotest.properties
/Components/FedoraRepo/src/test/resources/test.properties
/Sidora-Batch/src/test/resources/test.properties
/Sidora-MCI/src/test/resources/test.properties
/Sidora-Test-Utils/FITSservletTest/src/test/resources/test.properties



/.idea
/Components/Thumbnailator/nb-configuration.xml
/Components/FedoraRepo/target/
/Components/Thumbnailator/target/
/Components/Reader/target/
/Components/Extractor/target/
/Beans/Excel/target

**/.idea/workspace.xml
**/.idea/tasks.xml
*.iml
*.iws
.DS_Store
.project
.settings/
target/
.classpath
bin/
# Created by .ignore support plugin (hsz.mobi)

**/.idea/workspace.xml
*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml'.idea' 
.idea
