/.idea
/Components/Thumbnailator/nb-configuration.xml
/Components/FedoraRepo/target/
/Components/Thumbnailator/target/
/Components/Reader/target/
/Components/Extractor/target/
/Beans/Excel/target
**/.idea/workspace.xml
**/.idea/tasks.xml
*.iml
*.iws